.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar-icon {
    font-size: 15px;
}

.flashes h4 {
    line-height: 2;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* ------------------------------------[ Home Page ]-------------------------------------- */

/* Hero Image */
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1620381897127-e6a3a6e03eb3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1360&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------------------------[ All Resources Page ]-------------------------------------- */

/* Filter Styling */
.category-filters {
    border-radius: 35px;
    margin-bottom: 8px;
}

/* Button Styling */
.button-styling {
    border-radius: 35px;
}

/* Accordion Styling */
.collapsible-styling {
    border-radius: 10px;
    margin-bottom: 8px;
}

/* Search Bar Styling */
.searchbar-styling {
    border-radius: 10px;
    margin-bottom: 65px;
}

/* Delete & Edit Buttons */
.btn-small {
    margin: 5px 0;
}

/* ------------------------------------[ Add New Resources Page ]-------------------------------------- */

/* Form Styling */
.form-styling {
    border-radius: 10px;
}


/* ------------------------------------[ Confirm Deletion Modal ]-------------------------------------- */

.modal-styling {
    border-radius: 10px;
    padding: 25px;
    justify-content: center;
}

.modal-heading {
    color: #3d5afe;
}


/* ------------------------------------[ Footer Section ]-------------------------------------- */

.footer-bg {
    padding-top: 40px;
    background-color: #3d5afe;
    
}

.footer-container {
    width: 100%;
    padding-bottom: 50px;
}

.footer-row {
    margin-bottom: 0px;
}

.footer-heading {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.footer-paragraph {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 200;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: #3d5afe;
    background: #fff;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #00b8d4;
    color: #3d5afe;
}
.social-links li{
    display: inline;
}

.copyright-styling{
    padding-bottom: 20px;
    color: #fff;
}

.footer-icon {
    font-size: 43px;
    color: #fff;
}

/* ----------[ Responsiveness ]---------- */

/* Tablet */
@media only screen and (min-width: 768px) {
    .footer-heading {
        font-size: 20px;
    }

    .footer-paragraph {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1000px) {
/* Laptop */
    .footer-heading {
        text-align: center;
        font-size: 18px;
    }

    .footer-paragraph {
        text-align: center;
        font-size: 16px;
    }
}

/* 4K */
@media only screen and (min-width: 2560px) {
    .footer-heading {
        font-size: 24px;
    }

    .footer-paragraph {
        text-align: left;
        font-size: 16px;
    }
}