<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Selftod</title>
</head>

<body>

    <header>
        <!-- Top Navbar -->
        <div class="navbar-fixed">
            <nav class="nav-extended text-shadow indigo accent-3">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}" class="brand-logo">&nbsp;&nbsp;Selftod <i
                            class="fas fa-cat right"></i></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <!-- Access: All Users -->
                        <li><a href="{{ url_for('home') }}"><i class="fas fa-cat navbar-icon"></i>
                                &nbsp;Home</a></li>
                        <li><a href="{{ url_for('get_resources') }}"><i class="fas fa-book-reader navbar-icon"></i>
                                &nbsp;Resources</a></li>
                        <!-- Access: Members Only -->
                        {% if session.user %}
                        <li><a href="{{ url_for('add_resource') }}"><i class="fas fa-plus-circle navbar-icon"></i>
                                &nbsp;Add New</a></li>
                        <!-- Access: Admins Only -->
                        {% if session.user|lower == "admin"|lower %}
                        <li><a href="{{ url_for('get_categories') }}"><i class="fas fa-th navbar-icon"></i>
                                &nbsp;Categories</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}"><i
                                    class="fas fa-user-circle navbar-icon"></i> &nbsp;My Profile</a></li>
                        <li><a href="{{ url_for('logout') }}"><i class="fas fa-power-off navbar-icon"></i> &nbsp;Log
                                Out</a></li>
                        <!-- Access: Register or Log In -->
                        {% else %}
                        <li><a href="{{ url_for('login') }}"><i class="fas fa-key navbar-icon"></i> &nbsp;Log In</a>
                        </li>
                        <li><a href="{{ url_for('register') }}"><i class="fas fa-door-open navbar-icon"></i>
                                &nbsp;Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Mobile Sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align indigo-text text-accent-3">Selftod</h4>
            </li>
            <!-- Access: All Users -->
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('get_resources') }}">Resources</a></li>
            <!-- Access: Members Only -->
            {% if session.user %}
            <li><a href="{{ url_for('add_resource') }}">Add New</a></li>
            <!-- Access: Admins Only -->
            {% if session.user|lower == "admin"|lower %}
            <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
            {% endif %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            <!-- Access: Register or Log In -->
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="cyan accent-4 center-align white-text">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer-bg">
        <div class="container footer-container">
            <div class="row footer-row">
                <!-- About Selftod -->
                <div class="col l4 s12 center-align">
                    <h4 class="footer-heading"><strong>Learn Product Management</strong></h4>
                    <p class="footer-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis numquam distinctio expedita quo.</p>
                </div>
                <!-- CTA Buttons -->
                <div class="col l4 s12 center-align">
                    <h4 class="footer-heading"></h4>
                    <i class="fas fa-cat footer-icon"></i>
                    <br>
                    {% if session.user %}
                    <a href="{{ url_for('get_resources') }}"
                    class="btn-small cyan accent-4 white-text footer-button">
                    Discover More!</a>
                    {% else %}
                    <a href="{{ url_for('register') }}"
                    class="btn-small cyan accent-4 white-text footer-button">
                    Let's Grow Together!</a>
                    {% endif %}
                </div>
                <!-- Social Media Channels -->
                <div class="col l4 s12 center-align">
                    <h4 class="footer-heading"><strong>For bite-sized content:</strong></h4>
                    <ul class="list-inline social-links">
                        <li>
                            <a target="_blank" href="#"
                                rel="noopener noreferrer" aria-hidden="false">
                                <i class="fab fa-linkedin-in"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#"
                                rel="noopener noreferrer" aria-hidden="false">
                                <i class="fab fa-youtube"></i>
                                <span class="sr-only">YouTube</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#" rel="noopener noreferrer"
                                aria-hidden="false">
                                <i class="fab fa-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#" rel="noopener noreferrer"
                                aria-hidden="false">
                                <i class="fab fa-medium"></i>
                                <span class="sr-only">Medium</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <!-- Copyright -->
        <div class="center-align copyright-styling">
            All Rights Reserved | © Selftod Team 2021
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')  }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>