{% extends "base.html" %}
{% block content %}

    <div class="container">
        <!-- Page Title -->
        <br>
        <h3 class="center-align indigo-text text-accent-3">Manage Product-Related<br>Categories</h3>
        <br>
        <br>
        <!-- Add Category Button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('add_category') }}" class="btn indigo accent-3 text-shadow button-styling">
                    Add Category <i class="fas fa-plus-circle left"></i>
                </a>
            </div>
        </div>
        <br>
        <br>
        <!-- All Categories -->
        <div class="row">
            {% for category in categories %}
            <div class="col s12 m3">
                <!-- Cards -->
                <div class="card white-text indigo accent-3 text-shadow center-align form-styling">
                    <!-- Categories -->
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <!-- Edit & Delete Buttons -->
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}"
                            class="btn-small cyan accent-4 white-text text-shadow button-styling">Edit</a>
                        <a href="{{ url_for('delete_category', category_id=category._id) }}"
                            class="btn-small red white-text text-shadow button-styling">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
    </div>

{% endblock %}