{% extends "base.html" %}
{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <h1>Product Management Resources</h1>
            <br>
            <h4 class="container">Save and share your favorite product-related resources, and discover new ones shared by like-minded professionals</h4>
            <br>
            <br>
            <br>
            <button type="submit" class="btn-large white-text indigo accent-3 text-shadow">
                View Resources
            </button>
        </div>
    </section>

{% endblock %}