{% extends "base.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <h1 style="font-size: 78px;">Product Management <br>Resources</h1>
            <br>
            <h4 class="container" style="font-size: 29px;">SAVE & SHARE your favourite product-related resources, 
                and DISCOVER new ones shared by like-minded professionals</h4>
            <br>
            <br>
            <h3 class="container" style="font-size: 20px;">Audios | Books | Podcasts | Articles | Videos | Events | Courses | Interviews</h4>
            <br>
            <br>
            <br>
            <a href="{{ url_for('get_resources') }}"
                class="btn-large white-text indigo accent-3 text-shadow button-styling">View Resources</a>
            &nbsp;&nbsp;
            <!-- Access: Members Only -->
            {% if session.user %}
            <a href="{{ url_for('add_resource') }}"
                class="btn-large white-text cyan accent-4 text-shadow button-styling">Add Resources</a>
            {% else %}
            <a href="{{ url_for('register') }}"
                class="btn-large white-text cyan accent-4 text-shadow button-styling">Register Now</a>
            {% endif %}
        </div>
    </section>



{% endblock %}