{% extends "base.html" %}
{% block nav_profile %}active{% endblock %}
{% block content %}

    <!-- Page Title -->
    <br>
    <h3 class="center-align indigo-text text-accent-3 uppercase">
        My Profile
    </h3>
    <br>
    <br>
    <!-- Container & Welcome Message -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel grey lighten-5 form-styling">
                <br>
                <div class="center align">
                    <!-- Hi <username> -->
                    <h4> Hi, {{ username }}! <span>&#128075;&#127997;</span></h4>
                    <!-- Welcome Message -->
                    <h5><br>Welcome to Selftod <i class="fas fa-cat"></i>
                        <br>Product Management Resources</h5>
                    <br>
                    <h6 class="container">You can SAVE and SHARE your favorite product-related resources,
                        as well as DISCOVER new ones shared by like-minded professionals.</h6>
                </div>
                <br>
                <br>
                <!-- CTA Buttons -->
                <div class="center-align">
                    <a href="{{ url_for('add_resource') }}"
                        class="btn indigo accent-3 white-text text-shadow button-styling">
                        Add New Resources<i class="fas fa-plus-circle left"></i></a>
                    <br>
                    <br>
                    <a href="{{ url_for('get_resources') }}"
                        class="btn cyan accent-4 white-text text-shadow button-styling">
                        View All Resources<i class="fas fa-book-reader left"></i></a>
                    <!-- Access: Admins Only -->
                    {% if session.user|lower == "admin"|lower %}
                    <a href="{{ url_for('get_categories') }}"
                        class="btn green accent-4 white-text text-shadow button-styling">
                        Manage Categories<i class="fas fa-th navbar-icon left"></i></a>
                    {% endif %}
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>
    <!-- Page Subtitle -->
    <h4 class="center-align indigo-text text-accent-3 uppercase">
        My Resources
    </h4>
    <br>
    <!-- All Resources -->
    <div class="container">
        {% if resources|length > 0 %}
        <ul class="collapsible collapsible-styling">
            {% for resource in resources %}
            <li>
                <div class="collapsible-header white-text indigo accent-3 text-shadow collapsible-styling">
                    <!-- Delete & Edit Buttons -->
                    <div class="col s3">
                        <i class="fas fa-caret-down"></i>
                        <button data-target="modal1" class="btn-small red button-styling 
                            text-shadow modal-trigger">Delete</button>
                        <a href="{{ url_for('edit_resource', resource_id=resource._id) }}"
                            class="btn-small cyan accent-4 button-styling">Edit</a>
                    </div>
                    <!-- Resource Icon, Title, Author, Creation Date -->
                    <div class="col s9">
                        &nbsp;&nbsp;&nbsp;{{ resource.resource_icon }} &nbsp;
                        <strong>{{ resource.resource_title }}</strong> by&nbsp;
                        <em>{{ resource.resource_author }}</em>&nbsp;&nbsp;({{ resource.resource_rating }})
                        {% if resource.is_done == "on" %}
                        &nbsp;<i class="fas fa-check-circle white-text tooltipped" data-position="right"
                            data-tooltip="DONE!"></i>
                        {% endif %}
                    </div>
                </div>
                <!-- Resource Collapsible Body -->
                <div class="collapsible-body">
                    <p><strong><i class="fas fa-th"></i>&nbsp; Category:</strong> {{ resource.category_name }}</p>
                    <p><strong><i class="fas fa-comment-dots"></i>&nbsp; Topic:</strong> {{ resource.resource_topic }}</p>
                    <p><strong><i class="fas fa-globe"></i>&nbsp; Source:</strong> {{ resource.source_name }}</p>
                    <p><strong><i class="fas fa-graduation-cap"></i>&nbsp; Takeaway:</strong>
                        {{ resource.resource_takeaway }}</p>
                    <p><strong><i class="fas fa-folder-open"></i>&nbsp; Format:</strong> {{ resource.resource_format }}</p>
                    <p><strong><i class="fas fa-calendar-alt"></i>&nbsp; Created:</strong> {{ resource.creation_date }}</p>
                    <p><strong><i class="fas fa-star"></i>&nbsp; Rated:</strong> {{ resource.resource_rating }}</p>
                    <a href="{{ resource.resource_url }}" target="_blank"><i class="fas fa-link"></i>&nbsp; Direct
                        Link</i></a>
                    <p><em>by {{ resource.created_by }}</em></p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <!-- No Added Resources Message -->
        <div class="col s12 center-align card-panel grey lighten-5 form-styling">
            <h5>You haven't added any resources yet &#128129;&#127996;</h5>
            <br>
            <h6>Are you ready to start adding your favorite product-related resources?</h6>
            <p>Simply click on the blue button above <span>&#9757;&#127997;</span></p>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <!-- Delete Resource Modal -->
    {% for resource in resources %}
    <div id="modal1" class="modal modal-styling">
        <div class="modal-content">
            <h4 class="center-align modal-heading">CONFIRM YOUR DECISION</h4>
            <h5 class="center-align">Are you sure you want to delete this resource?</h5>
            <h6 class="center-align">After you click on <em>delete</em>, you won't be able to recover it. This change is
                permanent!</h6>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('get_resources') }}" class="btn indigo accent-3 button-styling">Cancel</a>
            <a href="{{ url_for('delete_resource', resource_id=resource._id) }}"
                class="btn red accent-4 button-styling">Delete</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}