{% extends "base.html" %}
{% block content %}

   <h2>I'm extending the base template!</h2>

   {% for resource in resources %}
        {{ resource.category_name }}<br>
        {{ resource.resource_type }}<br>
        {{ resource.resource_name }}<br>
        {{ resource.resource_title }}<br>
        {{ resource.resource_topic }}<br>
        {{ resource.resource_author }}<br>
        {{ resource.resource_rating }}<br>
        {{ resource.is_done }}<br>
        {{ resource.due_date }}<br>
        {{ resource.resource_url }}<br>
    {% endfor %}

{% endblock %}