{% extends "base.html" %}
{% block content %}
    <br>
    <h3 class="center-align indigo-text text-accent-3">All Resources</h3>
    <br>
    <ul class="collapsible">
        {% for resource in resources %}
        <li>
          <div class="collapsible-header white-text indigo accent-3 text-shadow">
              <i class="fas fa-caret-down"></i>
              <strong>{{ resource.resource_title }}</strong>&nbsp;by&nbsp;<em>{{ resource.resource_author }}</em>&nbsp;({{ resource.creation_date }})
              {% if resource.is_done == "on" %}
                  &nbsp;<i class="fas fa-check-circle white-text tooltipped"
                      data-position="right" data-tooltip="DONE!"></i>
              {% endif %}
            </div>
          <div class="collapsible-body">
              <p><strong><i class="fas fa-th"></i> Category:</strong> {{ resource.category_name }}</p>
              <p><strong><i class="fas fa-globe"></i> Source:</strong> {{ resource.source_name }}</p>
              <p><strong><i class="fas fa-comment-dots"></i> Topic:</strong> {{ resource.resource_topic }}</p>
              <p><strong><i class="fas fa-folder-open"></i> Type:</strong> {{ resource.resource_type }}</p>
              <p><strong><i class="fas fa-star"></i> Rating:</strong> {{ resource.resource_rating }}</p>
              <a href="{{ resource.resource_url }}"><i class="fas fa-link"></i> Direct Link</i></a>
              <p><strong><i class="fas fa-graduation-cap"></i> Takeaway:</strong> {{ resource.resource_takeaway }}</p>
              <p><em>by: {{ resource.created_by }}</em></p>
          </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}