{% extends "base.html" %}
{% block content %}

   {% for resource in resources %}
        {{ resource.category_name }}<br>
        {{ resource.resource_type }}<br>
        {{ resource.resource_name }}<br>
        {{ resource.resource_title }}<br>
        {{ resource.resource_topic }}<br>
        {{ resource.resource_author }}<br>
        {{ resource.resource_rating }}<br>
        {{ resource.is_done }}<br>
        {{ resource.due_date }}<br>
        {{ resource.resource_url }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
          <div class="collapsible-header white-text indigo accent-3 text-shadow"><i class="fas fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text indigo accent-3 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text indigo accent-3 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

{% endblock %}